@model IEnumerable<DegPortal.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FNameEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MNameEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LNameEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfWorkRus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfWorkKaz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfWorkEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlWorkLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diploma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiplomaNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiplomaIssuedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FNameEng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MNameEng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LNameEng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfWorkRus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfWorkKaz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfWorkEng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlWorkLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diploma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiplomaNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiplomaIssuedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
